/*.container {
    width: 200px;
    height: 120px;
}.container img {
    width: 100%;
    height: auto;
}

.img {
    position: relative;
    float: left;
    width:  400px;
    height: 400px;
    background-position: 25% 25%;
    background-repeat:   no-repeat;
    background-size:     cover;
}*/

ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.img-list li {
  display: inline-block;
  height: 150px;
  margin: 0 1em 1em 0;
  position: relative;
  width: 150px;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
