.container{
	width: 1170px;
} 

.images {
	width: 100%;
    position: relative;
    float: left;
}

.image-box1 {
	background-size: cover;
	background-image: url('images/img1.jpg');
	height: 300px;
	overflow: hidden;
	background-position: 50% 50%;
	
}

.image-box2 {
	background-size: cover;
	background-image: url('images/img2.jpg');
	height: 300px;
	overflow: hidden; 
	background-position: 50% 50%;
}

.col-xs-3{
	width: 25%;
}

.image-box3 {
	background-size: cover;
	background-image: url('images/img3.jpg');
	height: 300px;
	overflow: hidden;
	background-position: 50% 50%;
}

.image-box4 {
	background-size: cover;
	background-image: url('images/img4.jpg');
	height: 300px;
	overflow: hidden;
	background-position: 50% 50%;
}
